.about
  .hero
    background: #df7a30
    background-size: cover

    img
      position: relative
      z-index: 10

    .intro
      float: none
      max-width: 800px
      margin: 4% auto 0

      p
        font-size: 28px
        color: #fff
        font-weight: 300
        -webkit-font-smoothing: antialiased

  .skills
    text-align: center
    margin-bottom: 130px

  .skill
    display: inline-block
    margin: 20px 25px
    vertical-align: top

    h3
      color: #000
      text-transform: uppercase
      font: normal 20px/1 "proxima-nova-extra-condensed", sans-serif
      margin-bottom: 5px

    em
      font-size: 13px
      color: #777777

    &.ps .radial-progress .circle .mask .fill
      background-color: #2bdaff
    &.ai .radial-progress .circle .mask .fill
      background-color: #fd771a
    &.html .radial-progress .circle .mask .fill
      background-color: #e34f25
    &.css .radial-progress .circle .mask .fill
      background-color: #1471b6
    &.jquery .radial-progress .circle .mask .fill
      background-color: #74cff7
    &.breakdancing .radial-progress .circle .mask .fill
      background-color: #c359b8

  .radial-progress
    $circle-size: 160px
    $circle-background: #f6f6f6
    $transition-length: 1s

    margin-bottom: 25px
    width: $circle-size
    height: $circle-size
    background-color: $circle-background
    border-radius: 50%
    position: relative

    .circle
      .mask, .fill, .shadow
        width: $circle-size
        height: $circle-size
        position: absolute
        border-radius: 50%

      .mask, .fill
        -webkit-backface-visibility: hidden
        transition: -webkit-transform $transition-length
        transition: -ms-transform $transition-length
        transition: transform $transition-length

      .mask
        clip: rect(0px, $circle-size, $circle-size, $circle-size/2)
        .fill
          clip: rect(0px, $circle-size/2, $circle-size, 0px)

    .inset
      width: 144px
      height: 144px
      position: absolute
      top: 8px
      left: 8px
      background-color: #fff
      border-radius: 50%
      text-align: center
      padding: 27px

    @each $percent in 0, 15, 70, 90, 95, 100
      $increment: 180deg / 100

      &[data-progress="#{$percent}"]
        .circle
          .mask.full, .fill
            -webkit-transform: rotate($increment * $percent)
            -ms-transform: rotate($increment * $percent)
            transform: rotate($increment * $percent)

          .fill.fix
            -webkit-transform: rotate($increment * $percent * 2)
            -ms-transform: rotate($increment * $percent * 2)
            transform: rotate($increment * $percent * 2)

  .facts
    text-align: center
    position: relative

    h2
      margin: 0 0 40px

    p
      font-size: 18px
      line-height: 1.5
      margin: 0
      -webkit-font-smoothing: antialiased

  .fact-1
    background-color: #eeeee9
    padding: 4% 30%
    margin-bottom: 8%

    img
      box-shadow: 0 15px 30px rgba(0,0,0,.25)
      position: absolute
      top: 50%
      width: 25%
      @include transform(translateY(-50%))

      &.brazil
        left: 0
      &.russia
        right: 0

  .specialties
    text-align: center
    margin-bottom: 120px

  .badge
    display: inline-block
    margin: 20px 35px
    vertical-align: top

    &.web
      max-width: 260px
    &.apps
      max-width: 240px
    &.dev
      max-width: 220px
    &.branding
      max-width: 190px

    img
      margin-bottom: 38px
      width: 100%

    h3
      color: #000
      text-transform: uppercase
      font: normal 20px/1 "proxima-nova-extra-condensed", sans-serif
      margin-bottom: 0

  .fact-2
    background: url(../images/about/felt.jpg) repeat center center
    padding: 9% 30%
    overflow: hidden

    img
      position: absolute
      left: 0
      top: 50%
      margin-top: 12px
      @include transform(translateY(-50%))
      @include transition(all .15s)

    h2, p
      color: #fff

    .ball
      width: 100px
      height: 100px
      border-radius: 50%
      display: block
      box-shadow: inset -6px -8px rgba(0,0,0,.15), 12px 15px rgba(0,0,0,.25)
      position: absolute
      @include transform(translate(-50%,-50%))

      &.ball-cue
        top: 50%
        left: 270px
        background-color: #fff
      &.ball-1
        top: 20%
        left: 75%
        background-color: #ffb500
      &.ball-2
        top: 100%
        left: 85%
        background-color: #2142ad
      &.ball-3
        top: 90%
        left: 65%
        background-color: #c72c2c
      &.ball-4
        top: 80%
        left: 1%
        background-color: #4f3390
      &.ball-5
        top: 8%
        left: 10%
        background-color: #ec662b
      &.ball-6
        top: 98%
        left: 15%
        background-color: #0f7b4f
      &.ball-7
        top: 2%
        left: 45%
        background-color: #6b1f28
      &.ball-8
        top: 50%
        left: 90%
        background-color: #282828

  .awards
    text-align: center
    margin-bottom: 130px
    img
      margin: 20px 40px
      display: inline-block
      vertical-align: middle

  .fact-3
    background-color: #1f2137

    img
      display: block
      margin: 0 auto

    .text
      position: absolute
      left: 50%
      top: 50%
      max-width: 600px
      @include transform(translate(-50%,-50%))

    h2, p
      color: #fff

  @media screen and (max-width: 1200px)


  @media screen and (max-width: 767px)