.bodyboss
  .hero
    background: #000 url(../images/bodyboss/bodyboss-hero-bars.png) repeat-x center center
    background-size: auto 100%

  .main-logo
    background-color: #000
    padding: 50px
    text-align: center

    img
      max-width: 100%
      margin: 0 auto

  .applications
    background: url(../images/bodyboss/branding-bg.gif) repeat-x center center
    background-size: 100% 100%

    .container
      height: 100%
      position: relative

    img.logo
      max-width: 100%
      position: absolute
      top: 0
      z-index: 10

    img.cards
      max-width: 100%
      position: relative
      top: 0px
      right: -50px
      display: block

  .website
    background-color: #ccd3d9
    padding-top: 15px

    h2
      margin-top: 50px

    img
      margin: 0 auto 100px
      box-shadow: 0 28px 30px -20px rgba(0,0,0,.95)

  .graphics
    background-color: #354148
    padding: 0 2% 4%
    @include radial-gradient(circle at center bottom, #6c8592, #27343b)

    h2
      color: #fff
      margin: 5% 0 2%

    .col
      width: 33%
      padding: 0 6px
      float: left

      img
        display: block
        margin: 0 auto

  .app-design
    @include linear-gradient(#ffffff, #c6cace)

    h2
      margin-bottom: 6%

    img
      margin: 0 auto 9%

      &.ios
        width: 100%
        margin-bottom: 10%

      &:last-child
        margin-bottom: 7%

  .app-icons
    background: url(../images/bodyboss/bg-app-icons.jpg) no-repeat center center
    background-size: auto 100%
    text-align: center

    h2
      color: #fff
      margin: 6% 0 4%

    img
      max-width: 50%
      margin-bottom: 10%


  @media screen and (max-width: 900px)
    .main-logo
      padding: 20px 30px

    img.mobile-only
      margin: 0 auto
      max-width: 100%
      display: block

    .applications
      .container
        padding: 0

    .app-icons
      height: auto

  @media screen and (max-width: 767px)
    .main-logo
      padding: 20px 30px

    .website
      img
        margin-bottom: 30px

        &:last-child
          margin-bottom: 50px

    .applications
      img.cards
        right: -20px